<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>EnvironmentVariables</key>
        <dict>
          <key>PATH</key>
          <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:</string>
        </dict>
    <key>Label</key>
        <string>com.nullvision.ramdisk</string>
    <key>Program</key>
        <string>/Users/blackwut/.scripts/ramdisk_daemon.sh</string>
    <key>ProgramArguments</key>
        <array>
            <string>/Users/blackwut/.scripts/ramdisk_daemon.sh</string>
        </array>
    <key>KeepAlive</key>
        <false/>
    <key>RunAtLoad</key>
        <true/>
    <key>LaunchOnlyOnce</key>
        <true/>
    <key>StandardOutPath</key>
        <string>/tmp/ramdisk.stdout</string>
    <key>StandardErrorPath</key>
        <string>/tmp/ramdisk.stderr</string>
</dict>
</plist>
