<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>db-enabled-state</key>
	<integer>3</integer>
	<key>layer-gadgets</key>
	<array>
		<dict>
			<key>32bit</key>
			<true/>
			<key>id</key>
			<string>8a3c63a6efd7c141</string>
			<key>in-layer</key>
			<true/>
			<key>path</key>
			<string>/Users/blackwut/Library/Widgets/iStatPro.wdgt</string>
			<key>percent-offset-x</key>
			<integer>0</integer>
			<key>percent-offset-y</key>
			<integer>0</integer>
			<key>percent-type</key>
			<integer>1</integer>
			<key>percent-x</key>
			<real>0.031944446265697479</real>
			<key>percent-y</key>
			<real>0.19666667282581329</real>
			<key>pos-x</key>
			<integer>46</integer>
			<key>pos-y</key>
			<integer>177</integer>
			<key>relativepath</key>
			<string>~/Library/Widgets/iStatPro.wdgt</string>
			<key>separate-process</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
